.login {
    display: flex;
    justify-content: center;
}

.login__input {
    width: 300px;
}

.login__remember {
    text-align: center;
}

.errors {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #e74c3c;
}

#link__template {
    display: none;
}

.header {
    text-align: center;
}

.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 10px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

.actions {
    margin-top: 20px;
    display: flex;
}

.search {
    width: 300px;
}

.links {
    margin-top: 10px;
}

.link {
    display: flex;
    position: relative;
    align-items: center;
    padding: 5px 30px 5px 5px;
    border-left: 1px solid transparent;
}

.link:hover {
    border-left: 1px solid #F2A83B;
}

.link:nth-child(even) {
    background: #fbf9f9;
}

.link__checkbox {
    margin-right: 5px;
}

.hidden {
    display: none;
}

.link__title img {
    max-width: 200px;
}

.link__title p {
    margin-bottom: 5px;
}

.link__dates {
    font-size: 0.8em;
    margin-top: 15px;
}

.link__delete {
    position: absolute;
    top: 5px;
    right: 5px;
}

.logout-button {

}
